@using LensLooker.Data.Models
<label>
    Lens
    <select class="form-select form-select-sm" onchange="@OnLensChange">
        <optgroup label="Everything">
            <option value="">All</option>
        </optgroup>
        @if (LensGroups != null)
        {
            @foreach (var group in LensGroups)
            {
                <optgroup label="@group.Key.Name">
                    @foreach (var lens in group)
                    {
                        <option value="@lens.Name">(@lens.Photos.Count.ToString("N0")) @lens.Name</option>
                    }
                </optgroup>
            }
        }
    </select>
</label>

@code {

    [Parameter]
    [EditorRequired]
    public IEnumerable<IGrouping<LensFamily, Lens>>? LensGroups { get; set; }

    [Parameter]
    [EditorRequired]
    public Action<ChangeEventArgs>? OnLensChange { get; set; }

}