@using LensLooker.Site.Data
@if (Photos == null)
{
    <h2>&#127745; Patience is a virtue &#127745;</h2>
}
else
{
    <div class="row">
        @foreach (var photo in Photos)
        {
            <div class="col-sm-12 col-md-6 col-lg-4 col-xxl-3 p-2 text-center">
                <a href="@photo.ViewingUrl" target="_blank">
                    <img src="@photo.Src" alt="@photo.Title" class="photo"/>
                </a>
                <div class="m-3 mt-2">
                    <div class="mb-3 h6">@(photo.Title ?? "(untitled photo)")</div>
                    <div>
                        <span class="badge rounded-pill bg-light text-dark me-2">@(photo.Camera ?? "(camera N/A)")</span>
                        <span class="badge rounded-pill bg-primary">@photo.Lens</span>
                    </div>
                    <div>
                        <span class="badge rounded-pill bg-secondary me-2">@(photo.FocalLength.HasValue ? $"{photo.FocalLength.ToString()} mm" : "(focal length N/A)")</span>
                        <span class="badge rounded-pill bg-secondary me-2">@(photo.Aperture.HasValue ? $"f/{photo.Aperture.ToString()}" : "(aperture N/A)")</span>
                        <span class="badge rounded-pill bg-secondary">@(photo.ShutterSpeed ?? "(shutter speed N/A)")</span>
                    </div>
                </div>
            </div>
        }
    </div>
}

@code {

    [Parameter]
    [EditorRequired]
    public IEnumerable<PhotoDto>? Photos { get; set; }

}